@import "./colors.scss";

.subtask {
  background-color: $grey;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
}
.checkbox {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
