@import "./colors.scss";
.content {
  margin-left: 300px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.empty-message {
  color: $text-color;
}
.columns-box {
  padding: 50px;
  display: flex;
  gap: 50px;

  margin-top: 70px;
}
.empty-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  height: 100vh;
  flex-grow: 1;
}

.add-new-column {
  background-color: #e9effa;
  display: flex;
  border-radius: 5px;
  padding: 50px 60px;
  min-width: 250px;
  min-height: 550px;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.add-new-column:hover {
  cursor: pointer;
  p {
    color: $primary;
  }
}
