.toolbar {
  background-color: white;
  display: flex;
  position: fixed;
  padding: 20px 35px;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 300px);
}
.tools-container {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}
.ellipsis {
  position: relative;
}
